name: release
on: [release]

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.12
        uses: actions/setup-go@v1
        with:
          go-version: 1.12
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
        with:
          path: src/github.com/bootjp/

      - name: Get dependencies
        env:
          GOPATH: /home/runner/work/
          GO111MODULE: on
        run: |
          echo $GOPATH
          go get -v -t -d ./..

      - name: Build as Release
        env:
          GOPATH: /home/runner/work/
          GO111MODULE: on
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GOOS: windows
          GOARCH: amd64
        run: |
          echo $GOPATH
          export TAGNAME=$(jq --raw-output .ref "$GITHUB_EVENT_PATH")
          go build -o dist/vrc_auto_rejoin_tool_x64.exe ./cli/main.go
          zip -r dist/vrc_auto_rejoin_tool.zip
          go get -u github.com/tcnksm/ghr
          $GOPATH/bin/ghr -n ${TAGNAME} -b Release ${TAGNAME} dist/
